.photo {
	border-radius: 50%;
	width: 60px;
}

main aside {
	width: 25%;
}

main .container {
	max-width: 75%;
}

aside {
	margin-top: 15%;

	position: absolute;
}

aside form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}

aside label {
	padding: 10px;
}