<main>
  <aside>
    <form [formGroup]="demoExamplesGroup">
      <label class="mr-3">
        <input
          name="componentsDemo"
          type="checkbox"
          formControlName="componentsDemo"
        />
        Show components demo
      </label>

      <label>
        <input name="pipesDemo" type="checkbox" formControlName="pipesDemo" />
        Show pipes demo
      </label>

      <label>
        <input
          name="servicesDemo"
          type="checkbox"
          formControlName="servicesDemo"
        />
        Show services demo
      </label>

      <label>
        <input
          name="routingDemo"
          type="checkbox"
          formControlName="routingDemo"
        />
        Show routing demo App
      </label>
    </form>
  </aside>

  <div class="container">
    <app-routing-demo
      *ngIf="demoExamplesGroup.get('routingDemo').value"
    ></app-routing-demo>
    <hr />

    <app-components-demo
      *ngIf="demoExamplesGroup.get('componentsDemo').value"
    ></app-components-demo>

    <hr />
    <app-pipes-demo
      *ngIf="demoExamplesGroup.get('pipesDemo').value"
    ></app-pipes-demo>
    <app-services-demo
      *ngIf="demoExamplesGroup.get('servicesDemo').value"
    ></app-services-demo>
  </div>
</main>
